:root {
  --dark-grey: rgb(37, 34, 34);
  --ligth-green: #8ee4af;
  --normal-green: #5cdb95;
  --dark-green: #379683;
  --cream: #edf5e1;
  --navy: #05386b;
  --white: rgb(254, 254, 254);
  --grey: rgb(237, 240, 242);
  --turk: rgb(53, 73, 84);
}

.dark-theme {
  --background: var(--dark-grey);
  --color: var(--cream);
}

.light-theme {
  --background: var(--grey);
  /* --color: var(--dark-grey); */
  --note-color: var(--white);
  --surrounding-color: var(--turk);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
  background: var(--surrounding-color);
  display: grid;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  min-width: 320px;
  /* grid-template-columns: 20% 1fr 20%; */
  /* grid-template-rows: 200px 1fr 100px;
  row-gap: 10px; */
  /* grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer"; */
}

main {
  /* grid-area: main; */
  background: var(--background);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  display: grid;
}

header {
  display: grid;
  /* grid-area: header; */
}

footer {
  padding-top: 50 px;
  /* grid-area: footer; */
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.form-label {
  grid-column: 1 / span 1;
}

.form-input {
  grid-column: 2 / span 1;
}

.form-submit {
  grid-column: 1 / span 2;
}

.form-cancel {
  grid-column: 2 / span 1;
}

.noteList {
  display: grid;
  row-gap: 20px;
}

.note {
  padding: 15px 15px;
  display: grid; 
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(7, auto);
  column-gap: 15px;
}

.note-finished {
  grid-row: 1 / -1; 
  align-self: center;
}

.note-edit {
  grid-row: 1 / -1;
  grid-column: -1 / span 1;
  align-self: center;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.note-header > h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-description {
  grid-column: 2 / -1;
}

.note-duedate > p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.light-theme .note {
  background: var(--note-color);
}

.icon-button {
  background: none;
  border: none;
}

button > * {
  pointer-events: none;
}
